@model DetailsViewModel
@{
    var action = ViewContext.RouteData.Values["Action"].ToString();
    if (action != "DetailsPartial")
    {
        ViewData["Title"] = Model.Post.Title;
    }
}

<div class="container">
    <div class="entry-card_@Model.Post.Id">
        <!-- Post content -->
        <div class="mb-3 text-center">
            <h1>@Model.Post.Title</h1>
        </div>
        <div class="d-flex mb-2">
            <partial name="_VotingPartial" model="Model.Post" />
            <div class="flex-grow-1 p-3 ms-2 border border-secondary rounded">
                <partial name="_EditPartial" model="Model.Post" />
                <p id="content_@Model.Post.Id">@Model.Post.Content</p>
            </div>
        </div>
        <div class="text-center">
            <small>
                submitted <time class="timeago" datetime="@Model.Post.DateCreated.ToString("O")"></time>
                by <b>@Model.Post.Author.UserName</b>
            </small>
        </div>
        <!-- END Post content -->
        <partial name="_EntryButtonsPartial" model="Model.Post" />
    </div>

    <hr />

    <!-- Comments -->
    @foreach (var comment in Model.Post.Replies)
    {
        <partial name="_CommentPartial" model="comment" />
    }
    <!-- END Comments -->
</div>


@if (action == "Details")
{
    @section Scripts {
        <script src="~/js/setup.js" asp-append-version="true"></script>
        <script src="~/js/entryButtons.js" asp-append-version="true"></script>
        <script src="~/js/voting.js" asp-append-version="true"></script>
        @if (Model.Comment != null)
        {
            <script>
                scrollToEntry(@Model.Comment.Id);
            </script>
        }
    }
}
